[submodule "SleekDB"]
	path = SleekDB
	url = https://github.com/rakibtg/SleekDB.git
[submodule "parsedown"]
	path = parsedown
	url = https://github.com/erusev/parsedown.git
[submodule "parsedown-extra"]
	path = parsedown-extra
	url = https://github.com/erusev/parsedown-extra.git
[submodule "AltoRouter"]
	path = AltoRouter
	url = https://github.com/dannyvankooten/AltoRouter.git
