*.espressostorage
*.esproj
*.pxm
.DS_Store

.htaccess
config.php
verify.php

posts/*.md
posts/*.jpg

templates/*
!templates/simple/
!templates/simpleI8N/

plugins/*
!plugins/index.php
!plugins/TwitterAPIExchange
!plugins/i18n-dropplets

plugins/locale/*
!plugins/locale/index.php
!plugins/locale/.htaccess
!plugins/locale/en_US.po
!plugins/locale/pt_BR.po

posts/*
!posts/index.php

cache/*.png
cache/*.jpeg
cache/*.jpg
