*.espressostorage
*.esproj
*.pxm
.DS_Store
.htaccess
.project
config.php
verify.php
posts/*.md
posts/*.jpg
templates/clear/
templates/typographic/
templates/cards/

plugins/switcher.php

cache/*.png
cache/*.jpeg
