@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,500');
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
}
h1, h2, h3 {
    color: #343a40;
    font-weight: 500;
}
#footer {
    text-align: center;
}