@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,500');
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    text-align: center;
}
h1, h2, h3 {
    color: #343a40;
    font-weight: 500;
}
input, textarea, select {
    border: none;
    margin: 0 auto;
    background-color: #fff;
    outline: none;
    color: #495057;
    border-bottom: solid 2px #ADB5BD;
    width: 40vw;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    line-height: 200%;
    display: block;
}
input:focus:required:invalid {
    border: none;
    outline: none;
    border-bottom: solid 2px #fa5252;
}
input:required:valid {
    border: none;
    outline: none;
    border-bottom: solid 2px #ADB5BD;
}
::-webkit-input-placeholder {
    color: #adb5bd;
}
:-moz-placeholder {
    color: #adb5bd;
    opacity: 1;
}
::-moz-placeholder {
    color: #adb5bd;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #adb5bd;
}
::-ms-input-placeholder {
    color: #adb5bd;
}
::placeholder {
    color: #adb5bd;
}
.headerLogo {
    height: 20vh;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}
.btn {
    border: none;
    border-radius: 2rem;
    background-color: #40C057;
    font-weight: 600;
    color: #F8F9FA;
    height: 3rem;
    margin-top: 2.5rem;
}

.btn:hover {
    color: #495057;
    background-color: #adb5bd;
    cursor: pointer;
}