/* START RESET */ /* http://meyerweb.com/eric/tools/css/reset/    v2.0 | 20110126   License: none (public domain) */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form,label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
body{line-height: 1;}
/* END RESET */

.break {
	display: block;
	clear: both;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

body {
	background: #f5f5f5;
	color: #333;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 170%;
	text-align: center;
}

#container {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	text-align: left;
}

header#site {
	display: block;
	width: 100%;
	text-align: center;
	margin: 50px 0 100px 0;
}

header#site h1 a {
	text-decoration: none;
	color: #333;
	text-transform: uppercase;
	font-size: 200%;
	font-weight: 300;
}

header#site h1 a:hover {
	color: #16A5D7;
}

header#site #site-logo {
	display: block;
	height: 100px;
	width: 100px;
	margin: 0 auto 20px auto;
}

header#site #site-logo img {
	display: block;
	height: auto;
	width: 100px;
}

header#site #site-logo a {
	display: block;
	height: 100px;
	width: 100px;
	border-radius: 100px;
	overflow: hidden;
}

header#site #site-logo a:hover {

}

section#content {
}

section#content article {
	margin: 100px 0;
}

section#content article header.post-header {
	display: block;
	width: 31%;
	margin: 0 4% 25px 0;
	float: left;
	font-weight: 300;
}

section#content article header.post-header h1 a {
	text-decoration: none;
	color: #333;
	text-transform: uppercase;
	font-size: 160%;
	font-weight: 300;
	line-height: 155%;
	display: block;
	margin: 0 0 20px 0;
}

section#content article header.post-header h1 a:hover {
	color: #16A5D7;
}

section#content article header.post-header div.post-meta p span {
	color: #333;
}

section#content article header.post-header div.post-meta p a {
	color: #16A5D7;
	text-decoration: none;
}

section#content article header.post-header div.post-meta p a:hover {
	color: #333;
}

section#content article div.post-text {
	display: block;
	float: left;
	width: 65%;
	min-width: 280px;
}

section#content article div.post-text h2 {
	text-transform: uppercase;
	font-size: 150%;
	font-weight: 300;
	margin: 0 0 20px 0;
}

section#content article div.post-text h3 {
	text-transform: uppercase;
	font-size: 125%;
	font-weight: 300;
	margin: 0 0 20px 0;
}

section#content article div.post-text h4 {
	font-size: 125%;
	font-weight: 300;
	margin: 0 0 20px 0;
}

section#content article div.post-text h5 {
	font-size: 100%;
	font-weight: 700;
	margin: 0 0 20px 0;
}

section#content article div.post-text h6 {
	font-size: 100%;
	font-weight: 400;
	margin: 0 0 20px 0;
}

section#content article div.post-text p {
	margin: 0 0 25px 0;
}

section#content article div.post-text p small {
	font-size: 75%;
}

section#content article div.post-text blockquote {
	margin: 0 0 0 45px;
	font-style: italic;
	font-size: 105%;
}

section#content article div.post-text pre code {
	margin: 0 0 25px 45px;
	display: block;
	font-family: monospace;
}

section#content article div.post-text ul {
	margin: 0 0 25px 45px;
}

section#content article div.post-text ol {
	margin: 0 0 25px 45px;
}

section#content article div.post-text p a.more {
	color: #16A5D7;
	text-decoration: none;
}

section#content article div.post-text p a.more:hover {
	color: #333;
}

section#content article div.post-text img {
	max-width: 100%;
	height: auto;
}

section#content article div.post-text a {
	color: #16A5D7;
	text-decoration: none;
}

section#content article div.post-text a:hover {
	color: #333;
}

hr.profile {
	color: #B7CACF;
	display: block;
}

h3.profile {
	font-size: 115%;
	text-transform: uppercase;
	display: block;
	margin: 25px 0;
}

ul.pagination a {
	color: #16A5D7;
	text-decoration: none;
}

ul.pagination a:hover, ul.pagination li.active a {
	color: #333;
}

h3.profile span {
	text-transform: none;
}

@media all and (max-width: 799px) {
	section#content article header.post-header,
	section#content article div.post-text {
		width: 100%;
	}
}

/* Powered by Dropplets
*********************************************************************************************/

.powered-by {
    border-radius: 3px;
    background-color: #000000;
    color: #ffffff;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 12px;
    position: fixed;
    display: block;
    padding: 2px 10px;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    opacity: 0.3;
    text-decoration: none;
}

.powered-by:hover {
    color: #ffffff;
    opacity: 0.8;
}

.powered-by img {
    height: 15px;
    float: left;
    margin: 5px 5px 0 -2px;
}