html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body.dropp {
    background: url('images/logo.png') center center no-repeat;
    background-size: 20%;
}

#dropbox {	
	display: block;
    width: 100%;
    height: 100%;
}

#dropbox .loader {
	width: 100%;
	height: 50%;
	float: left;
}

#dropbox .loader .progress {
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	transition-duration: 2s;
	-moz-transition-duration: 2s;
	-webkit-transition-duration: 2s;
}

#dropbox .loader.done {
    background: url('images/check.png') center center no-repeat;
    background-size: 60px;
    transition-delay: 1.5s;
    -moz-transition-delay: 1.5s;
    -webkit-transition-delay: 1.5s;
    opacity: 0.5;
}

#dropbox .loader:nth-child(1) .progress {
	background-color: rgba(224, 227, 233, .5);
}

#dropbox .loader:nth-child(2) .progress {
	background-color: rgba(235, 238, 241, .5);
}

#dropbox .loader.done:nth-child(1) .progress,
#dropbox .loader.done:nth-child(2) .progress {
    background: none;
}

#dropbox .loader.done .progress {
	width:100% !important;
}

/* Input
*********************************************************************************************/

form {
    width: 600px;
    height: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -130px;
    margin-left: -300px;
}

input {
    border: none;
    border-bottom: 1px solid #333333;
    width: 600px;
    height: 130px;
    font-size: 100px;
    color: #333333;
    text-align: center;
}

input:focus {
    outline: none;
}

/* Logout
*********************************************************************************************/

.logout {
    background: url('images/logout.png') 0 0 no-repeat;
}

.home {
    background: url('images/home.png') 0 0 no-repeat;
}

.logout,
.home {
    background-size: 60px;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -30px;
    opacity: 0.1;
    transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
}

.logout {
    background-size: 40px;
    width: 40px;
    height: 40px;
    margin-left: -20px;
}

.home {
    top: 20px;
}

.logout:hover,
.home:hover {
    opacity: 0.3;
}
