
// $C o l o r
$theme: #4CA4D6;
$dark-theme: darken($theme, 20%);
$chevrons: rgb(34,34,40);

$bg-body: rgb(214,214,214);
$body-copy-color: #aaa;
$heading-color: lighten($body-copy-color, 10%);

$link-color: $heading-color;
$link-color-hover: $theme;

// $O t h e r
$indent-val: 1.5em;
