@import "bourbon/bourbon";

$imagesPath:   "../images/" !default;
// $fontAwesomePath:   "../font/" !default;

// Grabbing fonts from http://edgewebfonts.adobe.com/
// $font-headings: source-sans-pro, sans-serif;
$font-headings: podkova, serif;
$font-body: varela, sans-serif;
$font-code: source-code-pro, Consolas, monospace;

@import "color";

@import "mixins";

@import "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css";

@import "base";
